include *.md
include GPL3.txt
include doc/*.html
include pcbasic/data/USAGE.txt
include pcbasic/data/release.json
include pcbasic/data/*/*
include pcbasic/lib/*/*
include pcbasic/lib/README.py
exclude package.py
prune test
