include README.md
include LICENSE.md
include BUGS.md
include THANKS.md
include DEVELOPMENT.md
include GPL3.txt
include doc/*
include pcbasic/data/*/*
include pcbasic/USAGE.txt
include pcbasic/lib/*
prune test
